* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

body .sound-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20vh;
}

body .sound-1 p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sound-1 .mute {
  min-width: 80px;
  height: 50px;
  background-color: black;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

body .sound-1 .mute p {
  color: white;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .sound-1 .mute:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .sound-1 .sound-clap {
  margin: 0 30px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  min-width: 100px;
}

body .sound-1 .pad {
  min-width: 50px;
  height: 50px;
  margin: 0 10px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

body .sound-1 .pad.clap {
  background-color: rgba(0, 0, 255, 0.363);
}

body .sound-1 .pad.clap.active {
  background-color: blue;
}

body .sound-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20vh;
}

body .sound-2 p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sound-2 .mute {
  min-width: 80px;
  height: 50px;
  background-color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

body .sound-2 .mute p {
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .sound-2 .mute:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .sound-2 .sound-crash {
  margin: 0 30px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  min-width: 100px;
}

body .sound-2 .pad {
  min-width: 50px;
  height: 50px;
  margin: 0 10px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

body .sound-2 .pad.crash {
  background-color: rgba(255, 0, 0, 0.363);
}

body .sound-2 .pad.crash.active {
  background-color: red;
}

body .sound-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20vh;
}

body .sound-3 p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sound-3 .mute {
  min-width: 80px;
  height: 50px;
  background-color: black;
  margin-left: 20px;
  border-radius: 10px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

body .sound-3 .mute p {
  color: white;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .sound-3 .mute:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .sound-3 .sound-hihat {
  margin: 0 30px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  min-width: 100px;
}

body .sound-3 .pad {
  min-width: 50px;
  height: 50px;
  margin: 0 10px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

body .sound-3 .pad.hihat {
  background-color: rgba(255, 255, 0, 0.363);
}

body .sound-3 .pad.hihat.active {
  background-color: yellow;
}

body .play {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .play .play-btn {
  min-width: 20%;
  height: 50px;
  background-color: black;
  border-radius: 20px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

body .play .play-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .bpm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .bpm .slider {
  margin: 20px 0 0 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 25%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  border-radius: 20px;
}

@-webkit-keyframes playTrack {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes playTrack {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */